html, body {
    overflow: hidden;
    margin: 0;
    height: 100%;
    font-family: sans-serif; font-weight: 100;
    font-size: 22px;
}

section {
    position: relative;
    margin: 0 -9999rem;
    padding: 1.25rem 9999rem;
    text-align: center;
}

#aboutMe {
    background-color: white;
    color: black;
}

#projects {
    background-color: black;
    color: white;
}

#resume {
    background-color: white;
    color: black;
}

#contact {
    background-color: black;
    color: white;
}